
langchain
langchain-core
langchain-community

pypdf
pymupdf

# libraries we will require in Embedding and Vector Store DB
sentence-transformers
faiss-cpu
chromadb


# Libraries we need for LLMs -> Integration of VectorDB with LLMs

langchain-groq
python-dotenv